<div *ngIf="loggedin==true && !isSubscriptionExpired">
  <div class="container-fluid" >
    <div  class="row" style="float: right;">
      <mat-toolbar  style="width: 100%;float: left;  background-color: rgb(221, 57, 57);;">
        <div style="width: 95%;">
          <span *ngIf="securityLevel >= 99" style=" float: left;cursor:pointer; color:white;font-weight: bold;" (click)="navigateToDefaulRoute()">CherryRestaurant</span>
          <span *ngIf="securityLevel < 99" style=" float: left;cursor:pointer; color:white;font-weight: bold;" (click)="navigateToAttendence()">CherryRestaurant</span>
        </div>
        <p-splitButton style="margin-top: 10px;" styleClass="p-button-raised p-button-danger mr-2 mb-2" label="{{username}}" icon="pi pi-user" (onClick)="logout()" [model]="items"></p-splitButton>

       </mat-toolbar>
    </div>
    <div  class="row">
      <div  class="col-md-3" style="margin-left: 0;padding: 0px;background-color: whitesmoke;">
        <app-side-panel></app-side-panel>
      </div>
      <div class="col-md-9" style="float: left;padding-top: 3px;  
       background-color: white">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer >
    <h5 style="text-align: center;">Zaghab Systems © Copyrights reserved {{date}}</h5>
  </footer>
</div>
<div *ngIf="isSubscriptionExpired" style="text-align: center; margin-top: 100px;">
  <h2 style="color: red; font-weight: bold;"> 0594245425 يرجى تجديد الاشتراك للتواصل</h2>
  <p>تاريخ انتهاء الاشتراك: {{ subscriptionExpiry | date:'yyyy/MM/dd' }}</p>
</div>
<div style="width: 100%;" *ngIf="loggedin==false">
  <app-login style="width: 100%;" ></app-login>
</div>
<div *ngIf="!loggedin && !isSubscriptionExpired">
  <app-login style="width: 100%;"></app-login>
</div>
<p-toast [position]="'bottom-right'"></p-toast>

