<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <mat-form-field appearance="outline" class="mb-3">
                <mat-label>Select Year</mat-label>
                <mat-select [(ngModel)]="selectedYear" (selectionChange)="filterData()">
                    <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mb-3" *ngIf="selectedYear">
                <mat-label>Select Month</mat-label>
                <mat-select [(ngModel)]="selectedMonth" (selectionChange)="filterData()">
                    <mat-option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mb-3" *ngIf="selectedYear && selectedMonth !== null">
                <mat-label>Select Date</mat-label>
                <input matInput [matDatepicker]="datePicker" [formControl]="selectedDate" (dateChange)="filterData()" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mb-3">
                <mat-label>Employee (الموظف)</mat-label>
                <input type="text" placeholder="Employee's Name (إسم الموظف)" aria-label="Name" matInput
                    formControlName="employeeName" [formControl]="EmployeeController" [matAutocomplete]="auto3" (input)="filterData()">
                <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" 
                    (optionSelected)="selectedEmployee = $event.option.value; filterData()">
                    <mat-option *ngFor="let employee of employeeNames | keyvalue" [value]="employee.value">
                        {{ employee.value }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-template>
    </p-toolbar>

    <p-table [value]="payLates" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>اسم الموظف</th>
                <th>نوع الباي لاتر</th>
                <th>مبلغ الباي لاتر</th>
                <th>تاريخ التسجيل</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empl>
            <tr>
                <td>{{ empl.employee.user.name }}</td>
                <td>{{ empl.note }}</td>
                <td>{{ empl.value }}</td>
                <td>{{ empl.date }}</td>
            </tr>
        </ng-template>
    </p-table>
    <div style="float: right;" class="total-container">

    </div>
    <p-table [value]="payLates" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th> المجموع</th>
                 
                <th><strong> {{ getTotalAmount() }}</strong>  </th> 
            <th></th>
            </tr>
        </ng-template>
 
    </p-table>
</div>
